# Environments
.env
env/

# Mac Files
*.DS_Store

# HTML files
*.html

# pycaches
*__pycache__

#Exploratory folder that should never be seen by other humans
exploratory/

#general project notes
notes/

#Local data folder contents and results folder contents
data_raw_local/*
results/tables/*
results/figures/*

#local config file
CONFIG.Rspace

#.idea and R poops
.idea/
cache
*.Rproj*
.RData
.Rhistory
.history/
rosm.cache/
.RDataTmp

